@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: linear-gradient(to right,white,rgb(53, 208, 255));
    text-align: center;
}
#header{
    margin: 30px;
    font-size: 30px;
}
#count {
    font-size: 30px;
    margin-bottom: 50px;
}
#minesweeper table {
    width: 400px;
    height: 400px;
    border: 10px solid darkgray;
    background-color: lightgray;
    display: flex;
    margin: auto;
}
#minesweeper table tr {
    width: 400px;
    height: 48px;
}
#minesweeper table td {
    width: 48px;
    height: 48px;
    border: 1px solid white;
}
